<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <header>
    <h1>Bem-vindo à Minha Landing Page!</h1>
  </header>
  <section>
    <p>Este é um exemplo simples de uma landing page feita com Ruby e Sinatra.</p>
    <button onclick="alert('Obrigado por clicar!')">Saiba Mais</button>
    
  </section>
  
</body>
</html>
<%= 2 + 2 %>